@model IEnumerable<DergiProjesi.Models.Journal>

@{
    ViewBag.Title = "Index";
}

<h2>Dergi Listesi</h2>
<hr />

<p>
    @Html.ActionLink("Yeni Dergi Ekle", "Create", null, new { @class = "btn btn-primary" })
</p>
<hr />

@if (TempData["Journal"] !=null)
{
   var journal = (DergiProjesi.Models.Journal)TempData["Journal"];
   <div class="alert alert-success">
       <strong><span class="glyphicon glyphicon-ok"></span> @journal.Name</strong> isimli dergi başarıyla editlendi.
   </div>

}

<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Onay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anasayfa)
        </th>
        <th style="width:50px;"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageURL)
            </td>
            <td>
                @if (item.Onay)
                {
                    <label class="label label-success">Onaylı</label>
                }

                else
                {
                    <label class="label label-danger">Onay Bekliyor</label>
                }

            </td>
            <td>
                @if (item.Anasayfa)
                {
                    <label class="label label-success">Anasayfa</label>
                }

                else
                {
                    <label class="label label-danger">Anasayfa Değil</label>
                }

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }

</table>
